1. Importing Data

In [11]:
import pandas as pd
data = pd.read_csv("diabetes.csv")

In [12]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Age,Outcome
0,6,148,72,35,0,33.6,50,1
1,1,85,66,29,0,26.6,31,0
2,8,183,64,0,0,23.3,32,1
3,1,89,66,23,94,28.1,21,0
4,0,137,40,35,168,43.1,33,1
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,63,0
764,2,122,70,27,0,36.8,27,0
765,5,121,72,23,112,26.2,30,0
766,1,126,60,0,0,30.1,47,1
767,1,93,70,31,0,30.4,23,0

In [13]:
independent_columns = ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'Age']

2. Handling Missing Data

In [14]:
# Check for zero values in specific columns
import numpy as np
columns_with_zeros = ['Glucose', 'BloodPressure', 'SkinThickness', 'BMI']
zero_counts = (data[columns_with_zeros] == 0).sum()
print(zero_counts)

Glucose            5
BloodPressure     35
SkinThickness    227
BMI               11
dtype: int64

In [16]:
# Replace zero values with NaN in specific columns
data[columns_with_zeros] = data[columns_with_zeros].replace(0, np.nan)
# Impute missing values with mean of the column
data.fillna(data.mean(), inplace=True)
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Age,Outcome
0,6,148.0,72.0,35.00000,0,33.6,50,1
1,1,85.0,66.0,29.00000,0,26.6,31,0
2,8,183.0,64.0,29.15342,0,23.3,32,1
3,1,89.0,66.0,23.00000,94,28.1,21,0
4,0,137.0,40.0,35.00000,168,43.1,33,1
...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.00000,180,32.9,63,0
764,2,122.0,70.0,27.00000,0,36.8,27,0
765,5,121.0,72.0,23.00000,112,26.2,30,0
766,1,126.0,60.0,29.15342,0,30.1,47,1
767,1,93.0,70.0,31.00000,0,30.4,23,0

In [17]:
#Round figures back to whole numbers
data['Glucose'] = data['Glucose'].round().astype(int)
data['BloodPressure'] = data['BloodPressure'].round().astype(int)
data['SkinThickness'] = data['SkinThickness'].round().astype(int)